{{#each posts}}
<div class="post">
    <h2>{{title}}</h2>
    <p><strong>Автор:</strong> {{blogname}}</p>
    <img src="{{inage}}" alt="{{title}}">
    <div class="meta">
        <p> Перегляди: {{views}}</p>
        <p> Улюблене: {{favorites}}</p>
        <p> Коментарі: {{comments}}</p>
        <p> Завантаження: {{downloads}}</p>
    </div>
    <div class="user">
        <img src="{{userImageURL}}" alt="Аватар">
        <p>User ID: {{user_id}}</p>
    </div>
    <button class="editPostButton" data-id="{{id}}">Редагувати</button>
    <button class="deletePostButton" data-id="{{id}}">Видалити</button>
</div>
{{/each}}